/** Base colors */
$clr-dark-a0: #000000;
$clr-light-a0: #ffffff;

/** Theme primary colors */
$clr-primary-a0: #dbac12;
$clr-primary-a10: #e1b53a;
$clr-primary-a20: #e7be56;
$clr-primary-a30: #ecc76f;
$clr-primary-a40: #f1d087;
$clr-primary-a50: #f5d99f;
$clr-primary-a60: #f7ebd4;

/** Theme surface colors */
$clr-surface-a0: #121212;
$clr-surface-a10: #282828;
$clr-surface-a20: #3f3f3f;
$clr-surface-a30: #575757;
$clr-surface-a40: #717171;
$clr-surface-a50: #8b8b8b;

/** Theme tonal surface colors */
$clr-surface-tonal-a0: #241f16;
$clr-surface-tonal-a10: #39342b;
$clr-surface-tonal-a20: #4f4a42;
$clr-surface-tonal-a30: #65615a;
$clr-surface-tonal-a40: #7d7973;
$clr-surface-tonal-a50: #96938d;
